body {
  text-align: center;
  background-image: linear-gradient(to bottom right, pink, cyan);
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 5%;
}

.navigation-menu{
  text-align: end;
}

ul{
  display: inline-flex;
  list-style: none;
}

li{
  margin-left: 2vw;
}

li:hover{
  color: white;
  cursor: pointer;
}

.main-title{
  opacity: 0.75;
  font-size: xx-large;
}