body {
  text-align: center;
  background-image: linear-gradient(to bottom right, lightblue, lightpink);
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 5%;
  overflow-x: hidden;
}

p, li{
  font-size: 1.25rem;
}

.background-video{
  position: absolute;
  opacity: 25%;
  z-index: -999;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-mask-image:-webkit-gradient(linear, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.navigation-menu{
  text-align: end;
}

ul{
  display: inline-flex;
  list-style: none;
}

li{
  margin-left: 2.5vw;
}

li:hover{
  color: white;
  cursor: pointer;
}

.link{
  text-decoration: none !important;
  color: black;
}

.main-title{
  opacity: 90%;
}

h1{
  font-size: 7.5vh !important;
}